<!-- listing-create.component.html -->

<div class="container w-50 mb-5 mt-2 rounded p-3" style="background-color: #F2F2F2;"> <!-- Added class mb-5 to "Create Listing" section for bottom margin -->
  <h2 style="color: #055989;"  class="mx-auto">List Creation</h2>
  <form (submit)="createListing()">
      <div class="form-group">
        <label for="title" style="color: #055989;">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description" style="color: #055989;">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image </label>
        <input type="file" class="form-control-file" id="image" (change)="onImageSelected($event)" accept="image/*" required>
      </div>
      <div class="form-group">
        <label for="price"  style="color: #055989;">Price</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="price" name="price" required>
      </div>
      <div class="form-group">
        <label for="category"  style="color: #055989;">Category</label>
        <select class="form-control" id="category" [(ngModel)]="category" name="category" required>
          <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create Listing</button>
    </form>
  </div>
  
