<footer class="footer d-grid gap-3 bg-light py-1 mt-2">
  <div class="container ">
      <div class="row ">
          <div class="col-lg-4 mb-4">
              <h2 style="color: #055989;" >Join Us</h2>
              <p style="color: #055989;" >Leave your email address to get notifications</p>
              <div class="form-group">
                  <input type="text" id="title" name="title" required class="form-control" placeholder="Email Address">
              </div>
          </div>
          <div class="col-lg-2 mb-4">
              <ul class="Countries">
                  <h5 style="color: #055989;">Countries</h5>
                  <li class="text-secondary">Egypt</li>
                  <li class="text-secondary">Palestine</li>
                  <li class="text-secondary">Saudi Arabia</li>
                  <li class="text-secondary">Qatar</li>
                  <li class="text-secondary">Kuwait</li>
              </ul> 
          </div>
          <div class="col-lg-2 mb-4">
              <ul class="help" >
                  <h5 style="color: #055989;">Help</h5>
                  <li class="text-secondary">Help Center</li>
                  <li class="text-secondary">Order Status</li>
                  <li class="text-secondary">Size Chart</li>
                  <li class="text-secondary">Returns & Warranty</li>
                  <li class="text-secondary">Contact Us</li>
              </ul>
          </div>
          <div class="col-lg-2 mb-4">
              <ul class="aboutus" >
                  <h5 style="color: #055989;">About</h5>
                  <li class="text-secondary">About Us</li>
                  <li class="text-secondary">Responsibility</li>
                  <li class="text-secondary">Technology & Innovations</li>
                  <li class="text-secondary" >Careers</li>
              </ul>
          </div>
      </div>
      <hr>
  </div>
</footer>